body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

.main-header {
    color: red;
    font-size: 0.8rem;
    text-align: center;
}

.accordion-container {
    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
}

.page-title {
    margin: 0 auto 0.8rem auto;
    font-size: 1.8rem;
    font-weight: 900;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 0.0625rem solid #bdbdbd;
    cursor: pointer;
    text-align: left;
}

.accordion-radio {
    display: none;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.accordion-icon {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url(img/collapsed-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-image 0.5s ease;
}

.accordion-radio:checked ~ .accordion-title > .accordion-icon {
    background-image: url(img/expanded-btn.png);
}

.accordion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.accordion-radio:checked ~ .accordion-content {
    max-height: 16rem;
}

.accordion-content img {
    display: block;
    width: auto;
    max-width: 60%;
    height: 100%;
    max-height: 15rem;
    margin: 0 auto 1rem auto;
    object-fit: contain;
}

.accordion-item {
    transition: opacity 0.5s ease;
}

.accordion-item:active {
    opacity: 0.75;
}

/* Tablet */
@media (min-width: 768px) {
    .main-header {
        font-size: 0.85rem;
    }

    .page-title {
        font-size: 2rem;
    }

    .accordion-title {
        font-size: 1.4rem;
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .main-header {
        font-size: 0.9rem;
    }

    .page-title {
        font-size: 2.3rem;
    }

    .accordion-title {
        font-size: 1.5rem;
    }
}

/* Hover support devices */
@media (hover: hover) {
    .accordion-icon {
        opacity: 0;
        transition: opacity 0.5s ease;
    }   

    .accordion-container:hover .accordion-icon {
        opacity: 1;
    } 
    
    .accordion-item:hover .accordion-content {
        max-height: 16rem;
    }

    .accordion-title {
        color: #2222ff;
        transition: color 0.5s ease;
    }

    .accordion-container:hover .accordion-title,
    .accordion-radio:checked ~ .accordion-title  {
        color: #131313;
    }
}
