body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

.accordion-container {
    width: 300px;
    margin: 0 auto;
}

.page-title {
    margin: 0 auto 10px auto;
    font-size: 2rem;
    font-weight: 900;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #bdbdbd;
    cursor: pointer;
    text-align: left;
}

.accordion-checkbox {
    display: none;
}

.accordion-title {
    position: relative;
    width: 100%;
    margin: 5px 0;
    font-size: 1.3rem;
}

.accordion-title::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    background: url(img/collapsed-btn.png) no-repeat center / contain;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    transition: all 0.2s ease;
}

.accordion-checkbox:checked ~ .accordion-title::after {
    background: url(img/expanded-btn.png) no-repeat center / contain;
    opacity: 0.5;
}

.accordion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
}

.accordion-checkbox:checked ~ .accordion-content {
    max-height: 200px;
}

.accordion-content img {
    display: block;
    margin: 0 auto 15px auto;
    max-width: 80%;
    width: auto;
    height: 100%;
    object-fit: contain;
}
